@import "flexboxgrid";

$body-color: #000;
$bg-color: #fff;
$dark-color: #30323d;
$font-dark: #fff;

$accent-bright: #3e577f;
$accent-bright-active: #527bbf;
$accent-dark: #e8c547;

@import url("https://rsms.me/inter/inter-ui.css");

html,
body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

body {
  color: $body-color;
  background: $bg-color;
  font-family: "Inter UI", sans-serif;
  font-size: 1.1em;
  overflow-x: hidden;
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #fcfcfc,
    #f8f8f8,
    #f5f5f5,
    #f2f2f2
  );
}

a {
  color: $body-color;
  font-weight: bold;
}
h1 span {
  font-weight: 300;
}

header {
  width: 100%;
  padding: 5px 20px;
  position: fixed;
  transition: 0.3s;
}
header h1 {
  font-size: 1em;
}
.header-scrolled {
  color: $bg-color;
  background: $dark-color;

  a {
    color: $bg-color;
    text-decoration: none;
  }
}

.data {
  padding-top: 50px;
}

.hero {
  padding: 150px 0;
}
.hero h1 {
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 0;
}
.hero p {
  margin: 30px 0;
}

.page {
  padding-top: 50px;
}
.container {
  //padding:100px 20px;
}
.row {
  //  padding:30px;
}

.bg-accent-bright {
  background: $accent-bright;
  background-image: linear-gradient(
    to right top,
    #3e577f,
    #43608f,
    #48699e,
    #4d72af,
    #527bbf
  );
  color: $bg-color;
}
.bg-accent-dark {
  background: $accent-dark;
  padding: 70px 0;
  background-image: linear-gradient(
    to left bottom,
    #e8c547,
    #eac852,
    #ebcc5c,
    #edcf65,
    #eed26f
  );
}
.is-full-width {
  width: 100%;
  margin: 0;
}
.center-content {
  text-align: center;
}
// button
.button,
button {
  border: none;
  box-sizing: none;
  -webkit-appearance: none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);

  background: $accent-bright;
  color: $bg-color;
  border-radius: 3px;
  padding: 15px 30px;

  font-weight: 500;
  font-size: 1.25rem;

  width: intrinsic;
  display: inline-block;
  transition: background 0.4s;
  text-decoration: none;

  &:hover {
    background: $accent-bright-active;
  }

  &.light {
    background-color: $bg-color;
    color: $accent-bright;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.logo {
  max-width: 300px;
  margin-top: -20px;
}

.feature-row {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1em;
  padding: 100px 0;
  h1 {
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
  img {
    width: 150px;
    margin-top: 8px;
    display: inline-block;
  }
}
.customer-data {
  margin-bottom: 500px;
}
.customer-data h1 {
  font-size: 2em;
  margin-bottom: 5px;
}
.customer-data h2 {
  margin-bottom: 10px;
}
.customer-data .row {
  margin-bottom: 50px;
}
footer {
  background: $dark-color;
  color: $font-dark;
  font-size: 0.7em;
  padding: 20px 0;
}

// Table
table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  width: 100%;
}

td,
th {
  border: none;
  text-align: left;
  padding: 8px;
}
thead {
  border-bottom: 1px solid $dark-color;
}
tr:nth-child(even) {
  background: #f2f2f2;
}
table span {
  background: #000;
  color: #fff;
}

.dashboard-screen {
  max-width: 800px;
  margin: 0 auto;
}
